<!DOCTYPE html>
<html>
<head>
    <title>PPTT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ model.img }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            {% if lang == "en" %}
                {% trans %}Modell{% endtrans %}:
            {% else %}
                Modell:
            {% endif %}
            <strong>{{ model.model }}</strong></h5>
    </div>
    <ul class="list-group list-group-flush">
        {% if lang == "en" %}
            <li class="list-group-item">{% trans %}Flug Distanz{% endtrans %}: {{ model.distance }}</li>
            <li class="list-group-item">{% trans %}Flug Dauer{% endtrans %}: {{ model.duration }}</li>
            <li class="list-group-item">{% trans %}Teilnehmer{% endtrans %}: {{ model.partname }}</li>
            <li class="list-group-item">{% trans %}Datum{% endtrans %}: {{ model.date }}</li>
        {% else %}
            <li class="list-group-item">Flug Distanz: {{ model.distance }}</li>
            <li class="list-group-item">Flug Dauer: {{ model.duration }}</li>
            <li class="list-group-item">Teilnehmer: {{ model.partname }}</li>
            <li class="list-group-item">Datum: {{ model.date }}</li>
        {% endif %}
    </ul>
</div>

<a class="btn btn-secondary" href="/results/{{ lang }}/{{ roundId }}" role="button">
    {% if lang == "en" %}
        {% trans %}Zurück{% endtrans %}
    {% else %}
        Zurück
    {% endif %}
</a>

<a class="btn btn-warning" href="/results/en/{{ roundId }}/{{ id }}" role="button">en</a>
<a class="btn btn-warning" href="/results/de/{{ roundId }}/{{ id }}" role="button">de</a>
</body>
</html>