<table>
    <tr>
        <th>Plane Model</th>
        <th>Flight Distance</th>
        <th>Flight Duration</th>
        <th>Participant</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>{{ model }}</td>
        <td>{{ distance }}</td>
        <td>{{ duration }}</td>
        <td>{{ partname }}</td>
        <td>{{ date }}</td>
    </tr>
</table>